/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap"); */
/* @import url(""); */
:root {
  /* --blue: #1e90ff; */
  --heading-color: #fafafa;
  --bg-color: #292b33;
  --bg-color1: #222428;
  /* --bg-color: rgb(28, 33, 43); */
  --bg-text-color: rgba(0, 0, 0, 0.35);
  --bg-text-color-fade: rgb(45, 48, 50);
  --border-color-fade: rgb(194, 194, 194);

  --wood-color: #cc7c6e;
  /* --wood-color: rgb(107, 57, 27); */
  --typo-color: rgb(183, 182, 182);
  --gray-color: rgb(125, 125, 125);
  --fs-mobile: 1.2rem;
  --fs-desktop: 1.4rem;
  --fs-blog-post: 1.8rem;
  --fs-tit-desktop: 2.8rem;
  --fs-subtit-desktop: 2.8rem;
  --lh-desktop: 2.8rem;

  --lh-mobile: 2.5rem;
  --hfs-mobile: 2.8rem;
  --h1-fs: 3rem;
  --h2-fs: 2.8rem;
  --h3-fs: 2.1rem;
  --h4-fs: 1.8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-sarif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  font-size: 62.5%;
  color: var(--heading-color);
  overflow-x: hidden;
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.font__parata {
  font-family: "Prata", sarif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

/* .active span {
  border: 3px solid var(--wood-color) !important;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.8) !important;
} */
.review__active > div > span {
  transition: all 0.4s ease;
  border: 3px solid #fff !important;

  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 30px -10px; */
  /* box-shadow: var(--wood-color) 3px 3px, #ee9a8b 6px 6px, #ab7369 10px 10px,
    #744f49 14px 14px, #4d3d3a 16px 16px; */
}

p {
  color: var(--typo-color);
  line-height: 1.5;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  margin: 0;
}

h2,
h1,
h3 {
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 100;
}
h1 {
  font-size: var(--h1-fs);
}
h2 {
  font-size: var(--h2-fs);
}
h3 {
  font-size: var(--h3-fs);
}
h4 {
  font-size: var(--h4-fs);
}
.paragraph {
  font-size: var(--fs-desktop);
  color: #fff;
  line-height: var(--lh-desktop);
}
.blog_list {
  padding-left: 10px;
}

.blog_list li {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  align-items: start;
}
.blog_list li span {
  font-size: 1.5rem;
  max-width: 90%;
  mix-blend-mode: difference;
}
.blog_list li svg {
  fill: var(--wood-color);
  width: 20px;
  height: 20px;
}

.blog_o_list {
  padding-left: 20px;
}

.blog_o_list li {
  margin-top: 20px;
  font-size: 1.5rem;
}
.blog_o_list li span {
  font-size: 1.5rem;
  max-width: 90%;
  mix-blend-mode: difference;
}

.blog_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 12rem;
  grid-template-rows: 1fr;
}

.ml-10 {
  margin-left: 10rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-10 {
  margin-top: 10rem;
}
.mt-15 {
  margin-top: 15rem;
}
.mt-20 {
  margin-top: 20rem;
}
.mt-40 {
  margin-top: 40rem;
}
.mb-40 {
  margin-bottom: 40rem;
}
.mtb-40 {
  margin: 40rem 0;
}
.blur__text {
  filter: blur(5px);
  transform: scale(1.7);
}
.bg-image {
  transform: scale(1.5);
}
.logo__hide {
  opacity: 1;
}
/* .img {
  position: absolute;
  width: 600px;
  height: 800px;
} */
/* .img {
  position: absolute;
  width: 100%;
  height: 100%;
} */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* react player  */
.react__player {
  position: absolute;
  top: 0;
  left: 0;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
/* Grid */
.grid {
  display: grid;
}
/* .section {
  
} */

/*Date Picker CSS*/

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: var(--bg-color);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: #f0f0f0;
  font-weight: bold;
}
.react-calendar__navigation button:disabled {
  background-color: var(--bg-color);
  color: var(--gray-color);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--wood-color);
  color: #fff;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: var(--wood-color);
}
.react-calendar__month-view__weekdays__weekday {
  padding: 1em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day {
  color: #fff;
}
.react-calendar__month-view__days__day:disabled {
  color: #6d6d6d;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #341010;
} */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #fff;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: var(--bg-color);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--wood-color);
}
.react-calendar__tile--now {
  background: #fff;
  color: var(--wood-color);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--wood-color);
  color: #fff;
}
.react-calendar__tile--hasActive {
  background: var(--wood-color);
  color: #fff;
}
/* .react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: ;
} */
.react-calendar__tile--active {
  background: var(--wood-color);
  color: #fff;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--wood-color);
  color: #fff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--wood-color);
}

.react-daterange-picker {
  display: inline-flex;
  position: relative;
  /* width: 350px; */
}
.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker *:before,
.react-daterange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid gray;
}
.react-daterange-picker__inputGroup {
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  font-size: 1.5rem;
}
.react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
  color: var(--wood-color);
}
.react-date-picker__inputGroup__divider {
  color: var(--wood-color);
}
.react-daterange-picker__range-divider {
  font-size: 1.3rem;
  color: var(--wood-color);
}
.react-daterange-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-daterange-picker__button__input__input {
  -moz-user-input: none;
  user-input: none;
}

.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-daterange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-daterange-picker__button:enabled {
  cursor: pointer;
}
.react-daterange-picker__button:enabled:hover
  .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus
  .react-daterange-picker__button__icon {
  stroke: #0078d7;
}
.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}
.react-daterange-picker__button svg {
  display: inherit;
}
.react-daterange-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}
.react-daterange-picker__calendar--closed {
  display: none;
}
.react-daterange-picker__calendar .react-calendar {
  border-width: thin;
}
.react-daterange-picker {
  display: block;
  background-color: #fff;
  font-weight: 600;
  border: 0;
  border-radius: 30px;
}
.react-daterange-picker__wrapper {
  border: 0;
}
.react-daterange-picker__inputGroup {
  text-align: left;
}
.react-daterange-picker__inputGroup:nth-of-type(2) {
  text-align: right;
}

/*Date Range Picker Ends*/

/* React Dare picker */

.react-date-picker {
  display: inline-flex;
  position: relative;
}
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 2px solid #adb5bd;
}
.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  font-size: 1.2rem;
}
.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
  color: #fff;
}

.react-date-picker__inputGroup__year {
  width: 200px;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-date-picker__button:enabled {
  cursor: pointer;
}

.react-date-picker__button__icon {
  stroke: var(--wood-color, #eee);
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}
.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}
.react-date-picker__button svg {
  display: inherit;
}
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 10;
}
.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.date__mask,
.date__mask__room {
  display: none;
}
/* React date picker end */

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Grid Ends */
.review__margin {
  margin-top: 620px;
}

@media screen and (max-width: 768px) {
  .cursor {
    opacity: 0;
    cursor: none;
    width: 0;
    height: 0;
  }
  .date__mask {
    display: block;
    position: absolute;
    width: 89%;
    background-color: transparent;
    height: 88%;
    z-index: 200;
  }
  .date__mask__room {
    display: block;
    position: absolute;
    width: 87%;
    background-color: transparent;
    height: 88%;
    z-index: 200;
  }
  .review__margin {
    margin-top: 700px;
  }
  .react-daterange-picker {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .blog_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
