.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 33, 43);
  z-index: -1;
  opacity: 0;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.menu__inner {
  display: grid;
  grid-template-columns: 1.1fr 0.7fr;
  grid-template-rows: 10vh 40vh 40vh 10vh;
  gap: 0px 0px;
  grid-template-areas:
    "top top"
    "left right"
    "left right"
    "bottom bottom";
  z-index: 10;
  position: relative;
}
.menu__top {
  grid-area: top;
  padding: 0 5rem;
}
.menu__top h2 {
  width: 60%;
  margin-top: 3rem;
  font-size: 4.8rem;
  color: var(--wood-color);
}

.menu__top h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 10%;
  background-color: currentColor;
}

.menu__left {
  grid-area: left;
}

.menu__left img:first-of-type {
  margin: 0;
  position: absolute;
  opacity: 0.01;
  width: 60%;
  top: 0;
}
.menu__right {
  grid-area: right;
  text-align: left;
}
.menu__right span {
  position: relative;
  color: var(--wood-color);
  font-size: 2rem;
}
.menu__right span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 20px;
  background-color: currentColor;
}
.menu__list {
  margin: 0 auto;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  padding: 0;
}

.menu__list li {
  font-size: 2rem;
  color: rgb(154, 154, 154);
  overflow: hidden;
}

.menu__list li a {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
}
.menu__bottom {
  grid-area: bottom;
}

/* Icons */
.menu__bottom ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  margin: 10px 0;
}
.menu__bottom ul li {
  padding: 0 1rem;
}

.menu__bottom svg {
  fill: #fff;
  width: 2.3rem;
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.menu__background {
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  filter: opacity(0.2) blur(2px);
}

@media screen and (max-width: 768px) {
  .menu__inner {
    grid-template-rows: 10vh 35vh 35vh 20vh;
    grid-template-areas:
      "top top"
      "right right"
      "right right"
      "bottom bottom";
  }
  .menu__list {
    height: 90%;
  }
  .menu__list li a {
    font-size: 2.2rem;
  }
  .menu__top {
    display: none;
  }
  .menu__right {
    text-align: center;
  }
  .menu__list {
    text-align: center;
  }
  .menu__bottom ul {
    padding: 0;
    justify-content: center;
  }
  .menu__bottom svg {
    fill: #fff;
    width: 1.8rem;
  }
  .menu__right span {
    font-size: 1.5rem;
  }
}
